<footer class="bg-indigo-300 flex justify-around items-center py-6">
  <h2 class="text-white text-2xl font-bold">Logo</h2>

  <ul>
    <li>
      <a class="text-white hover:underline" href="/contact">Entre em contato</a>
    </li>
    <li>
      <a class="text-white hover:underline" href="/feedback">
        Deixe seu Feedback
      </a>
    </li>
    <li>
      <a class="text-white hover:underline" href="/about">Sobre</a>
    </li>
  </ul>
</footer>
