<header class="bg-indigo-300 flex justify-around items-center py-6">
  <h1 class="text-white text-2xl font-bold">Logo</h1>

  <nav>
    <ul class="flex gap-4 text-1xl text-white">
      <li><a class="hover:underline" href="/">Home</a></li>
      <li><a class="hover:underline" href="/signin">Sign in</a></li>
      <li><a class="hover:underline" href="/signup">Sign up</a></li>
    </ul>
  </nav>
</header>
